<div class="umb-dialog" id="um-deploy-partial-restore-dialog" ng-controller="UmbracoDeploy.PartialRestoreDialogController as vm">

    <div class="umb-dialog-body">

        <div class="umb-pane" ng-cloak>

            <div>

                <!-- Start restore -->
                <div ng-if="!vm.restore.status">

                    <div class="flex items-center" style="margin-bottom: 20px;">

                        <div style="margin-right:5px;"><localize key="dialogs_deployRestoreFrom"></localize> </div>

                        <div class="btn-group">      
                            <umb-button
                                type="button"
                                button-style="outline"
                                action="vm.workspaceDropDownOpen = !vm.workspaceDropDownOpen"
                                label="{{vm.restoreWorkspace.Name}}"
                                show-caret="true">                            
                            </umb-button>
                            
                            <umb-dropdown ng-if="vm.workspaceDropDownOpen" on-close="vm.workspaceDropDownOpen = false">
                                <umb-dropdown-item ng-repeat="workspace in vm.config.RestoreWorkspaces">
                                    <a href ng-click="vm.changeDestination(workspace); vm.workspaceDropDownOpen = false"><i class="icon icon-globe-alt"></i> {{ workspace.Name }}</a>
                                </umb-dropdown-item>
                            </umb-dropdown>
                        </div>

                        <div style="margin-left:10px;"><localize key="dialogs_deployRestoreWorkspace"></localize></div>

                    </div>

                    <div ng-if="vm.restoreWorkspace && vm.restoreNode === null" class="flex items-center" style="margin-bottom: 20px;">
                        <umb-button
                            size="xs"
                            button-style="success"
                            type="button"
                            action="vm.pickRemoteNode(vm.restoreWorkspace)"
                            label="{{vm.pickRemoteNodeLabel}}">
                        </umb-button>
                    </div>

                    <div ng-if="vm.restoreNode !== null" class="flex items-center" style="margin-bottom: 20px;">

                        <div style="margin-right:10px;"><localize key="dialogs_deployRestoreThis"></localize> <i ng-if="vm.restoreNode.icon" class="{{vm.restoreNode.icon}}" style="font-size: 18px; vertical-align: bottom; margin-left: 5px;"></i> {{vm.restoreNode.name}}</div>

                        <umb-button
                            ng-if="vm.restoreWorkspace && vm.restoreNodeIsExternal === true"
                            size="xs"
                            button-style="link"
                            type="button"
                            action="vm.pickRemoteNode(vm.restoreWorkspace)"
                            label="change">
                        </umb-button>
                    </div>

                    <div ng-if="vm.restoreNode !== null" class="flex items-center" style="margin-bottom: 20px;">

                        <umb-toggle
                            checked="vm.includeDescendants"
                            on-click="vm.toggleIncludeDescendants()"
                            show-labels="true"
                            label-on="{{vm.labels.deployRestoreIncludingDescendants}}"
                            label-off="{{vm.labels.deployRestoreNotIncludingDescendants}}"
                            label-position="right"
                        />
                        
                    </div>
                    
                    <div>
                        <div>
                            <p style="margin-top: 15px; margin-bottom: 30px;">
                                <localize key="dialogs_deployRestoreDescription"></localize>
                            </p>
                        </div>

                        <div>

                            <umb-button
                                type="button"
                                button-style="success"
                                action="vm.startRestore(vm.restoreWorkspace)"
                                label-key="restore"
                                disabled="!vm.restoreWorkspace || vm.restoreNode === null"
                                state="vm.restoreButtonState">
                            </umb-button>

                            <!-- Hiding this for custom entities/trees as we don't currently have a way to retrieve a remote, custom tree. -->
                            <umb-button
                                ng-if="vm.restoreWorkspace && vm.restoreNode !== null && vm.restoreNodeIsExternal === false && vm.isContentOrMediaTree"
                                type="button"
                                button-style="link"
                                action="vm.pickRemoteNode(vm.restoreWorkspace)"
                                label="{{vm.labels.deployRestorePickFrom}} {{ vm.restoreWorkspace.Name }}"
                                state="vm.restoreButtonState">
                            </umb-button>

                        </div>
                    </div>

                </div>

                <ud-restore-progress
                    ng-if="vm.restore.status === 'inProgress'"
                    progress="vm.restore.restoreProgress"
                    target-name="vm.restoreWorkspace.Name"
                    current-activity="vm.restore.currentActivity"
                    timestamp="vm.restore.timestamp"
                    server-timestamp="vm.restore.serverTimestamp">
                </ud-restore-progress>

                <ud-restore-complete
                    ng-if="vm.restore.status === 'completed'"
                    on-back="vm.closeDialog()"
                    timestamp="vm.restore.timestamp"
                    server-timestamp="vm.restore.serverTimestamp">
                </ud-restore-complete>

                <ud-error
                    ng-if="vm.restore.error.hasError"
                    comment="vm.restore.error.comment"
                    log="vm.restore.error.log"
                    exception="vm.restore.error.exception"
                    status="vm.restore.status"
                    operation="restore"
                    on-back="vm.resetRestore()"
                    on-debug="vm.showDebug()"
                    timestamp="vm.restore.timestamp"
                    server-timestamp="vm.restore.serverTimestamp"
                    show-debug="vm.restore.showDebug"
                    feedback-message-level="vm.feedbackMessageLevel">
                </ud-error>

                <div class="umb-deploy-debug" ng-if="vm.restore.showDebug">
                    <div class="umb-deploy-debug-console" ng-bind-html="vm.restore.trace|safe_html"></div>
                </div>

            </div>

        </div>

    </div>

</div>

